<%= render '/header.html.erb' %>
<div class="nice_border">
  <h2>Pick a title and tagline.</h2>
  <form action="/movies" method="post">
    <%= token_tag %>
    <input type="text" name="[movie]title" placeholder="Movie Title" value="<%= @title %>">
    <input type="text" name="[movie]tagline" placeholder="Movie tagline">
    <button type="submit">Submit movie</button>
  </form>
  <a href="/movies/new?gen_title=true">Write me a title!</a>

</div>
