body {
  background-color: #8BABB8;
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
.movie {
  border: 2px #526262 solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: #E6D6B3;


}
.title {
  font-size: 2em;
  font-family: serif;
}
.tagline {
  font-size: 1em;
  font-style: italic;
}
.gross {
  font-style: italic;
  font-size: 2.5em;
}
.edit {
  margin-top: 50px;
}
.rightcol {
  background-color: green;
  float: right;
}
.nice_border {
  border: 2px #526262 solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: #E6D6B3;
}
.delete_form {
  display: inline;
}
.bottom_line {
  border: 2px #526262 solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: #51172D;
  color: white;
}
.main_title{
  margin-bottom: 0px;
}
.main_tagline {
  line-height: 20px;
  font-size: 1em;
  font-style: italic;
}
.actor_image {
  height: 100px;
}
.movie_rank {
  font-style: italic;
font-size: 4em;
margin-top: 37px;

}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }