body {
  background-color: #8BABB8;
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
.movie {
  border: 2px #526262 solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: #E6D6B3;
}
.exec_producer {
  font-size: 3em;
  margin-right: 5px;
}
.main_tagline {
  margin-bottom: 35px;
}
.title {
  font-size: 2em;
  font-family: serif;
}
.tagline {
  font-size: 1em;
  font-style: italic;
}
.gross {
  font-style: italic;
  font-size: 2.5em;
  margin-top: 7px;
  margin-right: 7px;
  text-align: right;
}

.rightcol {
  background-color: green;
  float: right;
}
.nice_border {
  border: 2px #526262 solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: #E6D6B3;
}
.delete_form {
  display: inline;
}
button {
  border: 2px #526262 solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: #51172D;
  color: #EDEBE6;
}
button:hover
{
  border: 2px #526262 solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: #51172D;
  color: #EDEBE6;


}
#edit{
  margin-top: 10px;
}

.main_title{
  margin-bottom: 0px;
  margin-top: 10px;
  font-family: 'Comfortaa', cursive;

}
.main_tagline {
  line-height: 20px;
  font-size: 1em;
  font-style: italic;
}
.actor_image {
  height: 100px;
}
.movie_rank {
  font-style: italic;
font-size: 4em;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 100px;

}
.movie_rank_box {
  margin-top: 30px;
  text-align: right;
}
#adjacent_ranking {
  .text-align: right;
}
.actors {
  
  margin-top: 12px;
  text-align: center;
}
#actor {
  margin-left: 15px;
  margin-right: 15px;
}
.create_movie {
  float: right;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

     /* #Buttons
================================================== */
/*
#edit {
  border: thin #526262 solid;
  border-radius: 3px;
  background-color: #37B3B3B;
  color: #8BABB8;
}*/
